@model LiveScoreEs.ViewModels.Home.MatchViewModel

<style>
    body {
        padding: 50px;
        padding-top: 70px;
        font-size: 3em;
    }
</style>

@{
    var enableIfInProgress = Model.CurrentMatch.IsInProgress() ? "" : "disabled";
    var enableIfBallInPlay = Model.CurrentMatch.IsBallInPlay ? "" : "disabled";
    var enableIfToBePlayed = Model.CurrentMatch.IsScheduled() ? "" : "disabled";
    var disableIfToBePlayed = !Model.CurrentMatch.IsScheduled() ? "" : "disabled";
}
<div class="col-xs-6 scoreboard">
    <div class="panel panel-default">
        <div class="panel-heading">Scoreboard</div>
        <div class="panel-body">
            <table class="scoreboard-table">
                <tr>
                    <td><span class="text-muted"><small>@Model.CurrentMatch.Id</small></span></td>
                    <td class="title">Score</td>
                    <td class="title">Period</td>
                </tr>
                <tr>
                    <td class="team-name"><span>@Model.CurrentMatch.Team1.ToUpper()</span></td>
                    <td class="team-score"><span>@Model.CurrentMatch.CurrentScore.TotalGoals1</span></td>
                    <td rowspan="2"><span class="period">@Model.CurrentMatch.CurrentPeriod</span></td>
                </tr>
                <tr>
                    <td class="team-name"><span>@Model.CurrentMatch.Team2.ToUpper()</span></td>
                    <td class="team-score"><span>@Model.CurrentMatch.CurrentScore.TotalGoals2</span></td>
                </tr>
            </table>
        </div>

        <div class="panel-footer">
            @using (Html.BeginForm("Action", "Home"))
            {
                <input type="hidden" name="id" value="@Model.CurrentMatch.Id" />
                <div class="btn-group">
                    <button name="btnStart" type="submit" @enableIfToBePlayed class="btn btn-primary">Start</button>
                    <button name="btnEnd" type="submit" @enableIfInProgress class="btn btn-primary">End match</button>
                    <button name="btnNewPeriod" type="submit" @enableIfInProgress class="btn btn-primary">Period</button>
                    <button name="btnEndPeriod" type="submit" @enableIfBallInPlay class="btn btn-primary">End period</button>
                </div>
                <div class="btn-group">
                    <button name="btnGoal1" type="submit" @enableIfBallInPlay class="btn btn-default">Goal #1</button>
                    <button name="btnGoal2" type="submit" @enableIfBallInPlay class="btn btn-default">Goal #2</button>
                    <button name="btnUndo" type="submit" @disableIfToBePlayed class="btn btn-danger">Undo</button>
                </div>
                <button name="btnZap" type="submit" class="btn btn-danger">Zap</button>
            }
        </div>
    </div>
</div>

<div class="clearfix"></div>
<a target="_new" href="/live/index/@Model.CurrentMatch.Id">Live score</a>

