@model NoSqlEvents.Backend.ReadModel.Dto.LiveMatch

<style>
    body {
        padding: 70px;
        font-size: 1.3em;
    }
</style>

<div class="col-xs-6 scoreboard">
    <div class="panel panel-default">
        <div class="panel-heading">Scoreboard</div>
        <div class="panel-body">
            <table class="scoreboard-table">
                <tr>
                    <td><span class="text-muted"><small>@Model.Id</small></span></td>
                    <td class="title">Score</td>
                    <td class="title">Period</td>
                </tr>
                <tr>
                    <td class="team-name"><span>@Model.Team1.ToUpper()</span></td>
                    <td class="team-score"><span id="g1">@Model.CurrentScore.TotalGoals1</span></td>
                    <td rowspan="2"><span class="period" id="cp">@Model.CurrentPeriod</span></td>
                    <td rowspan="2" id="play">@Model.IsBallInPlay</td>
                </tr>
                <tr>
                    <td class="team-name"><span>@Model.Team2.ToUpper()</span></td>
                    <td class="team-score"><span id="g2">@Model.CurrentScore.TotalGoals2</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<script type="text/javascript">
    window.setInterval(function() {
        $.ajax({
            url: "/live/match/@Model.Id",
            cache: false
        }).done(function (data) {
            $("#g1").html(data.CurrentScore.TotalGoals1);
            $("#g2").html(data.CurrentScore.TotalGoals2);
            $("#cp").html(data.CurrentPeriod);
            $("#play").html(data.IsBallInPlay);
        });
    }, 2000);
</script>

