@model WaterpoloScoring.Backend.ReadModel.Dto.LiveMatch

<style>
    body {
        padding: 70px;
        font-size: 1.3em;
    }
</style>

<div class="col-xs-6 scoreboard">
    <div class="panel panel-default">
        <div class="panel-heading">Scoreboard</div>
        <div class="panel-body">
            @if (Model.Team1 == null)
            {
                <div>No match live!</div>
            }
            else
            {
                <table class="scoreboard-table">
                    <tr>
                        <td><span class="text-muted"><small>@Model.Id</small></span></td>
                        <td class="title">Score</td>
                        <td class="title">Period</td>
                    </tr>
                    <tr>
                        <td class="team-name"><span>@Model.Team1.ToUpper()</span></td>
                        <td class="team-score"><span id="g1">@Model.CurrentScore.TotalGoals1</span></td>
                        <td rowspan="2"><span class="period" id="cp">@Model.CurrentPeriod</span></td>
                        <td rowspan="2" id="play">@Model.IsBallInPlay</td>
                    </tr>
                    <tr>
                        <td class="team-name"><span>@Model.Team2.ToUpper()</span></td>
                        <td class="team-score"><span id="g2">@Model.CurrentScore.TotalGoals2</span></td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Period #1</strong>&nbsp;&nbsp;<span id="p1">@Model.ScorePeriod1</span><br/>
                            <strong>Period #2</strong>&nbsp;&nbsp;<span id="p2">@Model.ScorePeriod2</span><br />
                            <strong>Period #3</strong>&nbsp;&nbsp;<span id="p3">@Model.ScorePeriod3</span><br />
                            <strong>Period #4</strong>&nbsp;&nbsp;<span id="p4">@Model.ScorePeriod4</span><br/>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
<div class="clearfix"></div>

<script type="text/javascript">
    window.setInterval(function() {
        $.ajax({
            url: "/live/match/@Model.Id",
            cache: false
        }).done(function (data) {
            $("#g1").html(data.CurrentScore.TotalGoals1);
            $("#g2").html(data.CurrentScore.TotalGoals2);
            $("#cp").html(data.CurrentPeriod);
            $("#play").html(data.IsBallInPlay);
            $("#p1").html(data.ScorePeriod1);
            $("#p2").html(data.ScorePeriod2);
            $("#p3").html(data.ScorePeriod3);
            $("#p4").html(data.ScorePeriod4);
        });
    }, 2000);
</script>

